<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>JawJacker About Page</h1>
    <p>The place learn about JawJacker</p>
    <p>Check out the creator's website: <a href = 'http://www.gregwilwerding.com'>Greg Wilwerding</a></p>
  </body>
</html>
