<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>JawJacker Help Page</h1>
    <p>The place learn how to use JawJacker</p>
</html>
