<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title>JawJacker | <%= yield(:title) %> </title>
  </head>
  <body>
    <h1>JawJacker Home</h1>
    <p>This is the home page for JawJacker</p>
  </body>
</html>
